{% extends "dashboard.html" %}
{% block main_content %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Question List</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          {% comment %} <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div> {% endcomment %}
          <a href="{% url 'create-question' %}" type="button" class="btn btn-sm btn-outline-secondary">
            {% comment %} <svg class="bi"><use xlink:href="#calendar3"/></svg> {% endcomment %}
            Create New Question
          </a>
          <a href="{% url 'question-import' %}" type="button" class="btn btn-sm btn-outline-primary">Import Questions</a>  
        </div>
      </div>
    <table id="example" class="table table-striped table-sm" style="width:100%">
        <thead>  
            <tr>  
                {% comment %} <th>ID</th>   {% endcomment %}
                <th>Sector</th>  
                <th>Text</th>  
                <th>Type</th>  
                <th>Survey(s)</th>
                <th>Actions</th>  
            </tr>  
        </thead>  
        <tbody>  
            {% for question in questions %}
                <tr>  
                    {% comment %} <td>{{ question.id }}</td>  {% endcomment %}
                    <td>{{ question.sector }}</td>  
                    <td>{{ question.text }} (v{{ question.version }})</td>  
                    <td>{{ question.question_type }}</td> 
                    <td>                        
                        {% if question.related_surveys %}
                            <ul>
                                {% for survey_question in question.related_surveys %}
                                    <li>{{ survey_question.survey.title }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            No associated surveys.
                        {% endif %}
                    </td> 
                    <td>  
                        <div class="btn-group" role="group" aria-label="Basic outlined example">
                            <a href="{% url 'update-question' question.id %}" type="button" class="btn btn-sm btn-outline-warning">Edit</a>  
                            <form action="{% url 'delete-question' question.id %}" method="post" style="display:inline;">  
                                {% csrf_token %}  
                                <button type="submit" class="btn btn-sm btn-outline-danger">Delete</button>  
                            </form>  
                        </div>
                    </td>  
                </tr>  
            {% endfor %}  
        </tbody>  
    </table>  

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.bootstrap5.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.1.8/js/dataTables.bootstrap5.js"></script>
    {% comment %} <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>  
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>   {% endcomment %}
    <script>  
        $(function() { 
            $('#example').DataTable();
        });
    </script>
{% endblock main_content %}